<div class="header-right">
    <div class="production-tabs">
        <a
            href="/riad/salle/"
            class="production-tab salle-tab{% if active_page == 'salle' %} active{% endif %}">
            🪑 Salle
        </a>

        <a
            href="/riad/tasks/"
            class="production-tab{% if active_page == 'tasks' %} active{% endif %}">
            📋 Tâches
        </a>

        <a
            href="/riad/kitchen/?station=kitchen"
            class="production-tab{% if active_page == 'kitchen' %} active{% endif %}">
            👨‍🍳 Cuisine
        </a>

        <a
            href="/riad/kitchen/?station=bar"
            class="production-tab{% if active_page == 'office' %} active{% endif %}">
            🥤 Office
        </a>
    </div>
</div>
